<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/ajax-helper.js"></script>
		<script src="config/api.js"></script>
		<script src="js/jquery-1.10.2.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.mui-bar~.mui-content .mui-fullscreen {
				top: 44px;
				height: auto;
			}
			.mui-pull-top-tips {
				position: absolute;
				top: -20px;
				left: 50%;
				margin-left: -25px;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				z-index: 1;
			}
			.mui-bar~.mui-pull-top-tips {
				top: 24px;
			}
			.mui-pull-top-wrapper {
				width: 42px;
				height: 42px;
				display: block;
				text-align: center;
				background-color: #efeff4;
				border: 1px solid #ddd;
				border-radius: 25px;
				background-clip: padding-box;
				box-shadow: 0 4px 10px #bbb;
				overflow: hidden;
			}
			.mui-pull-top-tips.mui-transitioning {
				-webkit-transition-duration: 200ms;
				transition-duration: 200ms;
			}
			.mui-pull-top-tips .mui-pull-loading {
				/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
				
				margin: 0;
			}
			.mui-pull-top-wrapper .mui-icon,
			.mui-pull-top-wrapper .mui-spinner {
				margin-top: 7px;
			}
			.mui-pull-top-wrapper .mui-icon.mui-reverse {
				/*-webkit-transform: rotate(180deg) translateZ(0);*/
			}
			.mui-pull-bottom-tips {
				text-align: center;
				background-color: #efeff4;
				font-size: 15px;
				line-height: 40px;
				color: #777;
			}
			.mui-pull-top-canvas {
				overflow: hidden;
				background-color: #fafafa;
				border-radius: 40px;
				box-shadow: 0 4px 10px #bbb;
				width: 40px;
				height: 40px;
				margin: 0 auto;
			}
			.mui-pull-top-canvas canvas {
				width: 40px;
			}
			.mui-slider-indicator.mui-segmented-control {
				background-color: #efeff4;
			}
			.mui-table-view .mui-media-object {
			    line-height: 82px;
			    max-width: 82px;
			    height: 82px;
			}
		</style>
	</head>

	<body>
		<div class="mui-content">
			<div id="slider1" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" style="width: 100%;">
						<a class="mui-control-item mui-active" style="width: 33%;" href="#item1mobile">
							推荐
						</a>
						<a class="mui-control-item" style="width: 33%;" href="#item2mobile">
							排行榜
						</a>
						<a class="mui-control-item" style="width: 33%;" href="#item3mobile">
							搜索
						</a>
					</div>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div id="app" class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								
								<!-- 播放器 -->
								<div>
									播放器
									<audio
										id="music"
										controls="controls"
							        	ref="audio"
							        	:src="songUrl"
							        	:preload="audio.preload"
							        	class="dn"
							        	@play="onPlay"
							        	@error="onError"
							        	@waiting="onWaiting"
							        	@pause="onPause"
							        	@timeupdate="onTimeupdate"
							        	@loadedmetadata="onLoadedmetadata"
						            />
								</div>
								
								<div id="slider" class="mui-slider" >
									<div class="mui-slider-group mui-slider-loop">
										<div class="mui-slider-item mui-slider-item-duplicate">
											<a href="#" style="display: inline;" @tap="showV8info(focus[focus.length-1])">
												<img v-bind:src="focus[focus.length-1].pic">
											</a>
										</div>
										
										<div class="mui-slider-item" v-for="items in focus">
											<a href="#" style="display: inline;" @tap="showV8info(items)">
												<img v-bind:src="items.pic">
											</a>
										</div>
										
										<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
										<div class="mui-slider-item mui-slider-item-duplicate">
											<a href="#" style="display: inline;" @tap="showV8info(focus[0])">
												<img v-bind:src="focus[0].pic">
											</a>
										</div>
									</div>
									<div class="mui-slider-indicator">
										<div class="mui-indicator mui-active"></div>
										<div class="mui-indicator" v-for="items in focus.length-1"></div>
									</div>
								</div>
								<div class="wrapper">
									<div class="mui-card" v-for="items in hotdiss" @tap="showArticleinfo(items)">
										<div class="mui-card-header mui-card-media" :style="'height:40vw;background-image:url('+items.imgurl+')'"></div>
										<div class="mui-card-content">
											<div class="mui-card-content-inner">
												<p>{{items.author}}</p>
												<p style="color: #333;">{{items.dissname}}</p>
											</div>
										</div>
									</div>
									<!--<ul class="mui-table-view mui-grid-view">
								        <li class="mui-table-view-cell mui-media mui-col-xs-6" v-for="items in hotdiss">
								            <a href="#" @click="showArticleinfo(items.dissid)">
								                <img class="mui-media-object" v-bind:src="items.imgurl">
								                <div class="mui-media-body">{{items.dissname}}</div></a></li>
								    </ul>-->
								</div>
								<div class="wrapper">
									<ul class="mui-table-view mui-grid-view">
								        <li class="mui-table-view-cell mui-media mui-col-xs-6" v-for="items in shoubomv">
								            <a href="#" @tap="showMVinfo(items)">
								                <img class="mui-media-object" v-bind:src="items.picurl">
								                <div class="mui-media-body">{{items.mvtitle}} {{items.singer_name}} {{items.pub_date}}</div></a></li>
								    </ul>
								</div>
								
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" style="margin-bottom: 35px;">
								<ul class="mui-table-view mui-table-view-chevron">
									<li class="mui-table-view-cell mui-media" v-for="items in topList">
										<a class="mui-navigate-right" @tap="showTopinfo(items)">
											<img class="mui-media-object mui-pull-left" v-bind:src="items.picUrl">
											<div class="mui-media-body">
												{{items.topTitle}}
												<div v-for="(song,index) in items.songList">
													{{(index+1)+ ' ' + song.songname}}<p style="display: inline;" class='mui-ellipsis'>-{{song.singername}}</p>
												</div>
											</div>
										</a>
									</li>
								</ul>
								
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="mui-input-row mui-search">
									<input type="search" class="mui-input-clear" placeholder="搜索歌曲、歌单、专辑">
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script src="js/util.js"></script>
		<script type="text/javascript">
			mui.init();
			var list;
			function play(){
				list.$refs.audio.play();
			}
			function pause(){
				list.$refs.audio.pause();
			}
			(function($) {
				var ajaxHelper = new AjaxHelper();
				var api = new Api();
				var webview_detail = null; //详情页webview
				var album_detail =null;
				var top_detail =null;
				var titleNView = { //详情页原生导航配置
					backgroundColor: '#f7f7f7', //导航栏背景色
					titleText: '', //导航栏标题
					titleColor: '#000000', //文字颜色
					type: 'transparent', //透明渐变样式
					autoBackButton: true, //自动绘制返回箭头
					splitLine: { //底部分割线
						color: '#cccccc'
					}
				}

				list = new Vue({
					el: '#app',
					data: {
						focus: ["",""],
						hotdiss: [],
						shoubomv: [],
						listData: [],
						topList: [],
						firstPageData: '',
						songUrl: '',
						audio: {
							currentTime: 0,
					        maxTime: 0,
					        playing: false,
					        muted: false,
					        speed: 1,
					        waiting: true,
					        preload: 'auto'
					    }
					},
					methods: {
						showArticleinfo: function(items){
							//触发子窗口变更新闻详情
							mui.fire(webview_detail, 'get_detail', {
								dissid: items.dissid,
								dissname: items.dissname,
								imgurl: items.imgurl
							});
			
							//更改详情页原生导航条信息
							titleNView.titleText = items.dissname;
							webview_detail.setStyle({
								"titleNView": titleNView
							});
							setTimeout(function() {
								webview_detail.show("slide-in-right", 300);
							}, 150);
						},
						showV8info: function(item){
							if (item.type == 10002) {
								//触发子窗口变更新闻详情
								mui.fire(album_detail, 'album_detail', {
									id: item.id,
									title: item.title,
									pic: item.pic
								});
				
								//更改详情页原生导航条信息
								titleNView.titleText = item.title;
								album_detail.setStyle({
									"titleNView": titleNView
								});
								setTimeout(function() {
									album_detail.show("slide-in-right", 300);
								}, 150);
							} else if (item.jumpurl.length > 0) {
								item.url = item.jumpurl;
								item.mvtitle = item.title;
								localStorage.setItem('shoubomv',JSON.stringify(item));
								plus.webview.open('html/mvDetail.html', 'new', {}, 'slide-in-right', 200);
							}
							
						},
						showMVinfo: function(items) {
							items.url = 'https://y.qq.com/portal/mv/v/' + items.vid + '.html'
							localStorage.setItem('shoubomv',JSON.stringify(items));
							plus.webview.open('html/mvDetail.html', 'new', {}, 'slide-in-right', 200);
						},
						showTopinfo: function(item) {
							//触发子窗口变更新闻详情
							mui.fire(top_detail, 'top_detail', {
								id: item.id,
								topTitle: item.topTitle,
								picUrl: item.picUrl
							});
			
							//更改详情页原生导航条信息
							titleNView.titleText = item.topTitle;
							top_detail.setStyle({
								"titleNView": titleNView
							});
							setTimeout(function() {
								top_detail.show("slide-in-right", 300);
							}, 150);
						},
						changeSong: function(songmid) {
							var vkey;
							var url = "https://c.y.qq.com/base/fcgi-bin/fcg_music_express_mobile3.fcg?" +
				            "g_tk=5381&loginUin=0&hostUin=0&" +
				            "format=json&inCharset=utf8&outCharset=utf-8&notice=0&platform=yqq&needNewCode=0&" +
				            "cid=205361747&uin=0&songmid="+songmid+"&filename=C400"+songmid+".m4a&guid=4402796566";
							console.log(url);
							var me = this;
							mui.getJSON(url, {}, function(rsp) {
								vkey = rsp.data.items[0].vkey;
						        var dataUrl = 'http://isure.stream.qqmusic.qq.com/C400'
						        + songmid
						        + '.m4a?fromtag=66&guid=4402796566&uin=0&vkey='
						        + vkey;
								me.songUrl = dataUrl;
								console.log("url："+ dataUrl);
								me.audio.playing = true;
							});
							
						},
						// 当音频暂停
					    onPause: function() {
					      	this.audio.playing = false;
					    },
					    onError: function() {
					      	this.audio.waiting = true;
					      	console.log('文件错误');
					    },
					    // 当音频开始等待
					    onWaiting: function(res) {
					      	console.log(res)
					    },
					    // 当音频开始播放
					    onPlay: function(res) {
							this.audio.playing = true
							this.audio.loading = false
						    console.log("开始播放")
//							const target = res.target
//					      	const audios = document.getElementsByTagName('audio');
					      
					    },
					    // 当timeupdate事件大概每秒一次，用来更新音频流的当前播放时间
					    onTimeupdate: function(res) {
						    this.audio.currentTime = res.target.currentTime
						    this.sliderTime = parseInt(this.audio.currentTime / this.audio.maxTime * 100)
						    const _this = this
						    /*if (this.lrc !== '暂无歌词') {
						        _this.lrcObj.map((v, index) => {
						        	if (v.T === Math.floor(this.audio.currentTime)) {
						            	this.lrcIndex = index
						        	}
						        })
						        this.$refs.lrcDiv.scrollTop = 20 * this.lrcIndex
					    	}*/
					    },
					    // 当加载语音流元数据完成后，会触发该事件的回调函数
					    // 语音元数据主要是语音的长度之类的数据
					    onLoadedmetadata: function(res) {
					      	this.audio.waiting = false
					      	this.audio.maxTime = parseInt(res.target.duration)
					    }
					},
					watch:{
				        focus: function(val, oldVal){
				        	if (val.length > 1) {
				        		// 页面渲染完成在开启轮播
				        		this.$nextTick(function(){
				        			var slider = mui("#slider");
									slider.slider({
										interval: 5000
									});
				        		});
				        	}
				        },
				        songUrl: function(val, oldVal) {
				        	console.log("url 改变啦："+this.audio.playing)
				        	if(this.audio.playing) {
				        		this.$nextTick(function(){
					        		var m = document.getElementById('music');
									m.load();
									m.play();
								});
				        	}
				        }
				  	}
				});
				
				
				//阻尼系数
				var deceleration = mui.os.ios?0.003:0.0009;
				$('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration:deceleration
				});
				$.ready(function() {
					getDateList(true);
					getTopList(true);
					//循环初始化所有下拉刷新，上拉加载。
					$.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						if (index == 0) {
							$(pullRefreshEl).pullToRefresh({
								down: {
									auto:true,
									callback: getDateList
								},
								/*up: {
									callback: function() {
										var self = this;
										setTimeout(function() {
											var ul = self.element.querySelector('.mui-table-view');
											ul.appendChild(createFragment(ul, index, 5));
											self.endPullUpToRefresh();
										}, 1000);
									}
								}*/
							});
						} else if (index == 1) {
							$(pullRefreshEl).pullToRefresh({
								down: {
									auto:true,
									callback: getTopList
								}
							});
						}
						
					});
				});
				
				function getDateList(init){
					var self = this;
					//重置上拉加载
					var callback = function(data) {
						list.listData = data;
						list.focus = data.data.focus;
						list.hotdiss = data.data.hotdiss.list;
						list.shoubomv = data.data.shoubomv.all;
						if (!init) {
							self.endPullDownToRefresh();
						}
					}
					ajaxHelper.jsonp(api.first_page_data().url, api.first_page_data().params, "MusicJsonCallback", callback);

				}
				function getTopList(init){
					var self = this;
					//向服务端请求文章详情内容
					var callback = function(data) {
						list.topList = data.data.topList;
						console.log(data);
						if (!init) {
							alert("shuaxing");
							self.endPullDownToRefresh();
						}
					}
					ajaxHelper.jsonp(api.rank_list().url, api.rank_list().params, "topListJsonCallback", callback);
				}
				
				function getMoreData(){
				 	var _self = this;
				 	self.endPullUpToRefresh();
				 	
				}

				mui.plusReady(function() {
					//预加载详情页
					webview_detail = mui.preload({
						url: 'html/cdList.html',
						id: 'cd_detail',
						styles: {
							"render": "always",
							"popGesture": "hide",
							"bounce": "vertical",
							"bounceBackground": "#efeff4",
							"titleNView": titleNView
						}
					});
					album_detail = mui.preload({
						url: 'html/albumList.html',
						id: 'album_detail',
						styles: {
							"render": "always",
							"popGesture": "hide",
							"bounce": "vertical",
							"bounceBackground": "#efeff4",
							"titleNView": titleNView
						}
					});
					top_detail = mui.preload({
						url: 'html/topList.html',
						id: 'top_detail',
						styles: {
							"render": "always",
							"popGesture": "hide",
							"bounce": "vertical",
							"bounceBackground": "#efeff4",
							"titleNView": titleNView
						}
					});
					
					var self = plus.webview.currentWebview(),
						leftPos = Math.ceil((window.innerWidth - 60) / 2); // 设置凸起大图标为水平居中

					/**	
					 * drawNativeIcon 绘制带边框的半圆，
					 * 实现原理：
					 *   id为bg的tag 创建带边框的圆
					 *   id为bg2的tag 创建白色矩形遮住圆下半部分，只显示凸起带边框部分
					 * 	 id为iconBg的红色背景图
					 *   id为icon的字体图标
					 *   注意创建先后顺序，创建越晚的层级越高
					 */
					var drawNativeIcon = util.drawNative('icon', {
						bottom: '5px',
						left: leftPos + 'px',
						width: '60px',
						height: '60px'
					}, [
				 
					{
						tag: 'rect',
						id: 'bg',
						position: {
							top: '1px',
							left: '0px',
							width: '100%',
							height: '100%'
						},
						rectStyles: {
							color: '#fff',
							radius: '50%',
							borderColor: '#ccc',
							borderWidth: '1px'
						}
					}, {
						tag: 'rect',
						id: 'bg2',
						position: {
							bottom: '-0.5px',
							left: '0px',
							width: '100%',
							height: '45px'
						},
						rectStyles: {
							color: '#fff'
						}
					},
					{
						tag: 'img',
						id: 'iconBg',
						src: 'images/cbd.jpg',
						position: {
							top: '1px',
							left: '0px',
							width: '45px',
							height: '45px'
						},
						sprite: {top:'0px',left:'0px',width:'100%',height:'100%', radius: '45px',}
					
					}
						
						
						
						/*position: {
							top: '5px',
							left: '5px',
							width: '50px',
							height: '50px'
						},
						rectStyles: {
//							color: '#d74b28',
//							background:url('//y.gtimg.cn/music/photo_new/T002R300x300M000003gnhKW34J0Bl.jpg?max_age=2592000'),
							radius: '50%'
						}*/
					/*}, {
						tag: 'font',
						id: 'icon',
						text: '\ue600', //此为字体图标Unicode码'\e600'转换为'\ue600'
						position: {
							top: '0px',
							left: '5px',
							width: '50px',
							height: '100%'
						},
						textStyles: {
							fontSrc: '_www/fonts/iconfont.ttf',
							align: 'center',
							color: '#fff',
							size: '30px'
						}
					}*/]);
					// append 到父webview中
					self.append(drawNativeIcon);

					//自定义监听图标点击事件
					var active_color = '#fff';
					drawNativeIcon.addEventListener('click', function(e) {
						mui.alert('你点击了图标，你在此可以打开摄像头或者新窗口等自定义点击事件。', '悬浮球点击事件');
						if (list.audio.playing) {
							pause();
						} else {
							play();
						}
						// 重绘字体颜色
						if(active_color == '#fff') {
							drawNativeIcon.drawText('\ue600', {}, {
								fontSrc: '_www/fonts/iconfont.ttf',
								align: 'center',
								color: '#000',
								size: '30px'
							}, 'icon');
							active_color = '#000';
						} else {
							drawNativeIcon.drawText('\ue600', {}, {
								fontSrc: '_www/fonts/iconfont.ttf',
								align: 'center',
								color: '#fff',
								size: '30px'
							}, 'icon');
							active_color = '#fff';
						}

					});
					// 中间凸起图标绘制及监听点击完毕

					// 创建子webview窗口 并初始化
					var aniShow = {};
					util.initSubpage(aniShow);
					
					var 	nview = plus.nativeObj.View.getViewById('tabBar'),
						activePage = plus.webview.currentWebview(),
						targetPage,
						subpages = util.options.subpages,
						pageW = window.innerWidth,
						currIndex = 0;
					
						
					/**
					 * 根据判断view控件点击位置判断切换的tab
					 */
					nview.addEventListener('click', function(e) {
						var clientX = e.clientX;
						if(clientX > 0 && clientX <= parseInt(pageW * 0.25)) {
							currIndex = 0;
						} else if(clientX > parseInt(pageW * 0.25) && clientX <= parseInt(pageW * 0.45)) {
							currIndex = 1;
						} else if(clientX > parseInt(pageW * 0.45) && clientX <= parseInt(pageW * 0.8)) {
							currIndex = 2;
						} else {
							currIndex = 3;
						}
						// 匹配对应tab窗口	
						if(currIndex > 0) {
							targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
						} else {
							targetPage = plus.webview.currentWebview();
						}

						if(targetPage == activePage) {
							return;
						}

						if(currIndex !== 3) { 
							//底部选项卡切换
							util.toggleNview(currIndex);
							// 子页面切换
							util.changeSubpage(targetPage, activePage, aniShow);
							//更新当前活跃的页面
							activePage = targetPage;
						} else {
							//第四个tab 打开新窗口
							plus.webview.open('html/new-webview.html', 'new', {}, 'slide-in-right', 200);
						}
					});
				});
				
				var sliderSegmentedControl = document.getElementById('sliderSegmentedControl');
				$('.mui-input-group').on('change', 'input', function() {
					if (this.checked) {
						sliderSegmentedControl.className = 'mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-' + this.value;
						//force repaint
						sliderProgressBar.setAttribute('style', sliderProgressBar.getAttribute('style'));
					}
				});
				
			})(mui);
			function changePaly(id){
				list.changeSong(id);
			}
		</script>
	</body>

</html>